body{
    background-color: rgb(29, 28, 28);
}

h1{
    color: rgb(19, 98, 177);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    color: rgb(19, 98, 177);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

h3{
    color: rgb(136, 135, 135);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
    color: rgb(196, 194, 194);
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid rgb(5, 118, 231);
    box-sizing: border-box;
    color: rgb(196, 194, 194);
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: 0;
    padding: 15px 8px;
    width: 180px;
}

input:focus{
    border: 2px solid rgb(68, 161, 253);
}

.btnCalcular{
    background-color: rgb(19, 98, 177);
    border: none;
    border-radius: 8px;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 18px;
    margin-left: 20px;
    padding: 18px;
}
